:root {
    --primary-color: #2c3e50;
    --secondary-color: #34495e;
    --accent-color: #1a4301;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f4f4f4;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: 2px solid var(--accent-color);
    border-color: var(--accent-color);
}

input:invalid {
    border-color: red;
}

button {
    background-color: var(--accent-color);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#rating-display {
    font-weight: bold;
    color: var(--accent-color);
}

/* Range input styling */
input[type="range"] {
    width: 100%;
    height: 15px;
    background: transparent;
    /* -webkit-appearance: none; */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: var(--secondary-color);
    border-radius: 4px;
}