@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap');

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansita', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* Header Styles */
header {
    background-color: #f8ad9d;
    padding: 1.25rem;
    color: #1f2937;;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.profile-image {
    width: 120px;
    height: 150px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.3);
}

header h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

/* Navigation Styles */
nav {
    background-color: #f07171;
}

nav ul {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}

nav a {
    display: block;
    padding: 1rem 2rem;
    color: 1f2937;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: #d4bebc;
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    flex: 1;
}

main h1 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

/* Card Styles */
.card {
    background: rgb(246, 223, 223);
    border-radius: 5px;
    overflow: hidden;
}

.card h2 {
    background-color: #f8ad9d;
    color: #1f2937;
    padding: 0.8rem;
    font-weight: normal;
    font-size: 1.3rem;
    border-radius:5px;

}

.card-content {
    padding: 1.5rem;
}

.card ul {
    list-style: none;
}

.card li {
    margin-bottom: 0.8rem;
}

.card a {
    color: #0000EE;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Information Card Specific */
.information-content {
    padding: 1.5rem;
    text-align: center;
}

.weather-emoji {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* Footer Styles */
footer {
    background-color: #f07171;
    color: #1f2937;
    padding: 1rem;
    text-align: center;
}

.flag {
    width: 30px;
    height: 20px;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.flower {
    color: pink;
    font-size: 1.2rem;
}

.last-modified {
    color: #ffd700;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
    }

    nav a {
        text-align: center;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 2rem;
    }
}